# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
client/cineverse-dashboard/dist/
/tmp
/out-tsc
/bazel-out

# Node
client/cineverse-dashboard/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
client/cineverse-dashboard/.angular
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Secrets
client/cineverse-dashboard/src/environments/environment.secrets.ts

# Environment Variables
server/cineverse-bff/.env